/* OrderCard.css */

.order-card {
    display: inline-block;
    width: calc(50% - 20px); /* Adjust the width as needed */
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    margin-right: 20px; /* Add margin to create space between cards */
  }
  
  .order-id {
    font-size: 18px;
    color: #333333;
    margin-bottom: 10px;
  }
  
  .order-date {
    font-size: 14px;
    color: #666666;
    margin-bottom: 15px;
  }
  
  .order-details {
    border-top: 1px solid #e0e0e0;
    padding-top: 15px;
  }
  
  .product-name {
    font-size: 16px;
    color: #333333;
    margin-bottom: 5px;
  }
  
  .product-price {
    font-size: 14px;
    color: #666666;
    margin-bottom: 5px;
  }
  
  .product-quantity {
    font-size: 14px;
    color: #666666;
  }
  .show-details-btn {
    display: inline-block;
    padding: 8px 16px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  
  .show-details-btn:hover {
    background-color: #0056b3;
  }

/* Responsive CSS */

@media (max-width: 768px) {
  .order-card {
    width: calc(100% - 20px); /* Adjust width for smaller screens */
    margin-right: 0;
  }
}
